/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5c6ac4; /* Muted Indigo */
    --hover-color: #3b4b91; /* Deepened Indigo */
    --focus-color: #7f8cd3; /* Lighter Indigo for focus state */
    --font-family: 'Poppins', sans-serif;
    --text-color: #2d2d2d; /* Charcoal Gray */
    --background-color: #f5f5f5; /* Soft Off-White */
    --footer-bg-color: #1e1e1e; /* Almost Black for footer */
    --footer-text-color: #cccccc; /* Soft Gray for footer text */
    --footer-link-hover-color: #ffab40; /* Warm Amber for hover effect */
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

p {
    font-weight: 300;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    transform: translateY(-2px);
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--focus-color);
}
/* Hero Section */
#hero {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #2c2c2c; /* Dark background */
    color: white;
    padding: 100px 0;
}

#hero h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

#hero .lead {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

#hero .btn {
    font-size: 1.25rem;
    padding: 10px 30px;
}

#hero .screenshot-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#hero .screenshot-item img:hover {
    transform: scale(1.05);
}

/* Adjustments for smaller screens in hero section */
@media (max-width: 768px) {
    #hero h1 {
        font-size: 2.5rem;
    }

    .screenshot-item,
    .video-container {
        margin-bottom: 2rem;
    }
}
/* Screenshots Section */
#screenshots {
    background-color: #f8f9fa;
    padding: 3rem 0;
}

#screenshots h2 {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.scroll-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.screenshot-item {
    flex: 1 1 calc(50% - 40px);
    margin-bottom: 20px;
    width: 90%;
}

.screenshot-item img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.screenshot-item img:hover {
    transform: scale(1.05);
}
